* {
    font-family: 'Share Tech Mono', monospace;
}

.actions {
    justify-content: flex-end;
}

#feedback-input {
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px;
    width: calc(100% - 22px);
}
