<h1 class="app-header">Twilight Imperium Fourth Edition</h1>
<h2 class="app-header">Rules Reference</h2>
<ais-instantsearch [config]="algoliaConfig">
    <ais-search-box placeholder="Search topics, rules, and more..."></ais-search-box>
    <ais-stats>
        <ng-template let-state="state">
            {{state.nbHits}} results found in {{state.processingTimeMS}}ms
        </ng-template>
    </ais-stats>
    <div id="content-container">
        <div id="content-filters">
            <div class="filter-container">
                <h4 class="filter-header">Rule Type</h4>
                <ais-refinement-list attribute="type"></ais-refinement-list>
            </div>
            <div class="filter-container">
                <h4 class="filter-header">Factions</h4>
                <ais-refinement-list attribute="factions"></ais-refinement-list>
            </div>
        </div>
        <div id="content-results">
            <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                    <!-- Nothing found? -->
                    <div *ngIf="hits.length === 0">
                        Nothing found for <strong>{{results.query}}</strong>
                    </div>
                    
                    <div *ngFor="let hit of hits" class="result-card">
                        <mat-card>

                            <!-- Topic Image -->
                            <img *ngIf="hit.image" class="topic-image" src="{{hit.image}}">

                            <!-- Topic -->
                            <div class="topic-header">
                                <ais-highlight attribute="topic" [hit]="hit"></ais-highlight>
                                <span *ngIf="hit.type" class="topic-type">({{hit.type}})</span>
                            </div>

                            <!-- Description -->
                            <span>{{hit.description}}</span>

                            <!-- Rules -->
                            <ul>
                                <li *ngFor="let rule of hit.rules; let i = index">
                                    <ais-highlight attribute="rules[{{i}}]" [hit]="hit"></ais-highlight>
                                </li>
                            </ul>

                            <!-- Steps -->
                            <div *ngFor="let step of hit.steps; let i = index">
                                
                                <!-- Step Title -->
                                <span class="step-title">
                                    <ais-highlight attribute="steps[{{i}}].name" [hit]="hit"></ais-highlight>
                                    <span>: </span>
                                </span>

                                <!-- Step Description -->
                                <span>{{step.description}}</span>

                                <!-- Step Rules -->
                                <ul>
                                    <li *ngFor="let rule of step.rules; let j = index">
                                        <ais-highlight attribute="steps[{{i}}].rules[{{j}}]" [hit]="hit"></ais-highlight>
                                    </li>
                                </ul>

                            </div>

                            <!-- Subtopics -->
                            <div *ngFor="let subTopic of hit.subTopics; let i = index">

                                <!-- Subtopic Title -->
                                <div class="subTopic-header">
                                    <ais-highlight attribute="subTopics[{{i}}].name" [hit]="hit"></ais-highlight>
                                </div>
                                
                                <!-- Subtopic Description -->
                                <span>{{subTopic.description}}</span>

                                <!-- Subtopic Rules -->
                                <ul>
                                    <li *ngFor="let rule of subTopic.rules; let j = index">
                                        <ais-highlight attribute="subTopics[{{i}}].rules[{{j}}]" [hit]="hit"></ais-highlight>
                                    </li>
                                </ul>

                                <!-- Subtopic Steps -->
                                <div *ngFor="let step of subTopic.steps; let j = index">

                                    <!-- Subtopic Step Title -->
                                    <span class="step-title">
                                        <ais-highlight attribute="subTopics[{{i}}].steps[{{j}}].name" [hit]="hit"></ais-highlight>
                                        <span>: </span>
                                    </span>
    
                                    <!-- Subtopic Step Description -->
                                    <span>{{step.description}}</span>

                                    <!-- Subtopic Step Rules -->
                                    <ul>
                                        <li *ngFor="let rule of step.rules; let k = index">
                                            <ais-highlight attribute="subTopics[{{i}}].steps[{{j}}].rules[{{k}}]" [hit]="hit"></ais-highlight>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                            <mat-divider></mat-divider>

                            <!-- Related Topics -->
                            <div class="related-topics">
                                <strong>Related Topics: </strong>
                                <span>{{hit.relatedTopics | stringList}}</span>
                            </div>

                        </mat-card>
                    </div>
                </ng-template>
            </ais-hits>
        </div>
    </div>
    <div id="pagination-container">
        <ais-pagination></ais-pagination>
    </div>
</ais-instantsearch>

<div id="report-button">
    <span (click)="openDialog()">Report an error</span>
</div>
