<h1 class="app-header">Twilight Imperium Fourth Edition</h1>
<h2 class="app-header">Rules Reference</h2>
<ais-instantsearch [config]="algoliaConfig">
    <ais-search-box placeholder="Search topics, rules, and more..."></ais-search-box>
    <ais-stats>
        <ng-template let-state="state">
            {{state.nbHits}} results found in {{state.processingTimeMS}}ms
        </ng-template>
    </ais-stats>
    <div id="content-container">
        <div id="content-filters">
            <div class="filter-container">
                <h4 class="filter-header">Rule Type</h4>
                <ais-refinement-list attribute="type"></ais-refinement-list>
            </div>
            <div class="filter-container">
                <h4 class="filter-header">Factions</h4>
                <ais-refinement-list attribute="factions"></ais-refinement-list>
            </div>
        </div>
        <div id="content-results">
            <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                    <!-- Nothing found? -->
                    <div *ngIf="hits.length === 0">
                        Nothing found for <strong>{{results.query}}</strong>.
                    </div>
                    
                    <div *ngFor="let hit of hits" class="result-card">
                        <mat-card>
                            <h2 class="topic-header">{{hit.topic}}</h2>
                            <p>{{hit.description}}</p>
                            <ul>
                                <li *ngFor="let rule of hit.rules">{{rule}}</li>
                            </ul>
                            <div *ngFor="let step of hit.steps">
                                <div><strong>Step {{step.number}} - </strong>{{step.description}}</div>
                                <ul>
                                    <li *ngFor="let rule of step.rules">{{rule}}</li>
                                </ul>
                            </div>
                            <div *ngFor="let subTopic of hit.subTopics">
                                <h2 class="topic-header">{{subTopic.name}}</h2>
                                <p>{{subTopic.description}}</p>
                                <div *ngFor="let step of subTopic.steps">
                                    <div><strong>Step {{step.number}} - </strong>{{step.description}}</div>
                                    <ul>
                                        <li *ngFor="let rule of step.rules">{{rule}}</li>
                                    </ul>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="related-topics">
                                <strong>Related Topics: </strong>
                                <span>{{hit.relatedTopics | stringList}}</span>
                            </div>
                        </mat-card>
                    </div>
                </ng-template>
            </ais-hits>
        </div>
    </div>
</ais-instantsearch>
